[% TRY %]
    [% PROCESS "$PLUGIN_DIR/i18n/${LANG}.inc" %]
[% CATCH %]
    [% PROCESS "$PLUGIN_DIR/i18n/default.inc" %]
[% END %]
[% USE KohaDates %]
[% INCLUDE 'doc-head-open.inc' %]
 <title>[% T.configure_1 %]</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>
<body>
[% INCLUDE 'header.inc' %]
[% INCLUDE 'cat-search.inc' %]

<div id="breadcrumbs"><a href="/cgi-bin/koha/mainpage.pl">[% T.configure_2 %]</a> &rsaquo; <a href="/cgi-bin/koha/plugins/plugins-home.pl">[% T.configure_4 %]</a> &rsaquo; [% T.configure_5 %]</div>

<div class="main container-fluid" id="page">

    <h3>[% T.configure_1 %]</h3>

    <!-- Notice our form here has no 'action', this is good, it means that our forms will always get passed back to 'plugins/run.pl'. You could hard code it instead if you prefer -->
    <form method="get">
        <!-- Always pass these two parameters so the plugin system knows what to execute! -->
        <input type="hidden" name="class" value="[% CLASS %]"/>
        <input type="hidden" name="method" value="[% METHOD %]"/>
        <div class="row">
            <div class="col-sm-5">
                <p>[% T.configure_6 %]</p>
                <b>[% T.configure_7 %]</b>
                <ul>
                    <li>Books</li>
                    <li>SheetMusicAndScores</li>
                    <li>Recordings [% T.configure_10 %]</li>
                    <li>Videos</li>
                    <li>Other</li>
                    <li>Celia</li>
                    <li>Electronic</li>
                    <li>Online</li>
                </ul>
                <p>[% T.configure_16 %]</p>
                <ul>
                    <li>[% T.configure_17 %]</li>
                </ul>
                <p>[% T.configure_42 %]</p>
                <p>[% T.configure_18 %]</p>
                <p>[% T.configure_19 %]</p>
                <div>
                    <b>[% T.configure_20 %]</b>
                    <pre>---</pre>
                    <pre>blockStatisticsGeneration: 0</pre>
                    <pre>itemTypeToStatisticalCategory:</pre>
                    <pre>KIRJA: Books</pre>
                    <pre>ESINE: Others</pre>
                    <pre>CD: Recordings</pre>
                    <pre>excludedItemtypes:</pre>
                    <pre>-EKIRJA</pre>
                    <pre>patronCategories:</pre>
                    <pre>-ADULTS</pre>
                    <pre>-STAFF</pre>
                    <pre>notForLoanStatuses:</pre>
                    <pre>--1</pre>
                    <pre>-5</pre>
                    <pre>adultShelvingLocations:</pre>
                    <pre>-AIK</pre>
                    <pre>-VA</pre>
                    <pre>juvenileShelvingLocations:</pre>
                    <pre>-NK</pre>
                </div>
            </div>
            <div class="col-sm-5 form-group">
                <div class="row">
                    <label for="okm_syspref">[% T.configure_37 %]</label>
                    <textarea class="form-control" id="okm_syspref" rows="35" name="okm_syspref">[% okm_syspref %]</textarea>
                </div>
                <div class="row">
                    <input type="hidden" name="save" value="1" />
                    <input type="submit" value="[% T.configure_38 %]" />
                </div>
            </div>
        </div>
    </form>

    <hr/>

    <p>
        <h5>[% T.configure_39 %]</h5>
        [% IF last_upgraded %]
            [% T.configure_40 %] [% last_upgraded | $KohaDates with_hours => 1 %]
        [% ELSE %]
            [% T.configure_41 %]
        [% END %]
    </p>

[% INCLUDE 'intranet-bottom.inc' %]
